In [230]:
import pandas as pd
import numpy as np
from pprint import pprint

In [231]:
original_dataset=pd.read_csv('attacks.csv', encoding='latin-1')

At first sight we can see a 23 columns dataset. Some of them are dates, some of them are categorical data and links to files than can be useful if important information is missed.

In [232]:
original_dataset

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,AdysonÂ McNeely,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,Minor injury to lower leg,N,NaN,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25718,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25719,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25720,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25721,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25722,xx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

We create a copy of the original dataset for security

In [233]:
cleaned_dataset=original_dataset.copy()

# Looking for NaN values

First of all we are going to check the two last columns that appears to be only NaN values

In [234]:
print(f'Since the original data set has {cleaned_dataset["Unnamed: 22"].size} rows and the column Unnamed:22 \
has {sum(cleaned_dataset["Unnamed: 22"].isna())}  NaN values we can safely drop it.')

Since the original data set has 25723 rows and the column Unnamed:22 has 25722  NaN values we can safely drop it.

In [235]:
print(f'Since the original data set has {cleaned_dataset["Unnamed: 23"].size} rows and the column Unnamed:23 \
has {sum(cleaned_dataset["Unnamed: 23"].isna())}  NaN values we can safely drop it.')

Since the original data set has 25723 rows and the column Unnamed:23 has 25721  NaN values we can safely drop it.

In [236]:
cleaned_dataset=cleaned_dataset.drop(columns=["Unnamed: 23","Unnamed: 22"], axis=1)

In the cell bellow we can see that we are not almost near to detect all the missing values. Comparing the number of NaN to the number of data, it seems that there are lots of rows that are empty. Let's check that by creating a new column that shows how many NaN values has each row,

In [237]:
cleaned_dataset.isna().sum()

Case Number               17021
Date                      19421
Year                      19423
Type                      19425
Country                   19471
Area                      19876
Location                  19961
Activity                  19965
Name                      19631
Sex                       19986
Age                       22252
Injury                    19449
Fatal (Y/N)               19960
Time                      22775
Species                   22259
Investigator or Source    19438
pdf                       19421
href formula              19422
href                      19421
Case Number.1             19421
Case Number.2             19421
original order            19414
dtype: int64

In [238]:
cleaned_dataset["Is_all_NaN"]=cleaned_dataset.isna().sum(axis=1)

cleaned_dataset["Is_all_NaN"].value_counts()

22    17020
21     2394
1      1516
0      1422
2      1200
3      1196
4       540
5       293
6       102
7        26
8         7
20        7
Name: Is_all_NaN, dtype: int64

So we can see that there are a great number of columns that have no information or almost no information (columns with 22 or 21). We proceed to remove them. Afther, we will drop the generated "Is_all_NaN"

In [239]:
cleaned_dataset=cleaned_dataset.dropna(axis=0, how='any', thresh=20, subset=None, inplace=False)

In [240]:
cleaned_dataset=cleaned_dataset.drop(columns="Is_all_NaN")

There are still some NaN values, but we will with that later

In [241]:
cleaned_dataset.isna().sum()

Case Number                  0
Date                         0
Year                         0
Type                         1
Country                      2
Area                       103
Location                   144
Activity                   153
Name                        24
Sex                        217
Age                       1929
Injury                       2
Fatal (Y/N)                362
Time                      2422
Species                   2139
Investigator or Source       5
pdf                          0
href formula                 1
href                         0
Case Number.1                0
Case Number.2                0
original order               0
dtype: int64

# Duplicated values

Now we are looking for rows that have duplicated values

In [242]:
sum(cleaned_dataset.duplicated())

0

So there are not rows with duplicated values. Now we look for columns with duplicated values.

In [243]:
cleaned_dataset[['Case Number','Date','Case Number.1','Case Number.2']]

     Case Number                Date Case Number.1 Case Number.2
0     2018.06.25         25-Jun-2018    2018.06.25    2018.06.25
1     2018.06.18         18-Jun-2018    2018.06.18    2018.06.18
2     2018.06.09         09-Jun-2018    2018.06.09    2018.06.09
3     2018.06.08         08-Jun-2018    2018.06.08    2018.06.08
4     2018.06.04         04-Jun-2018    2018.06.04    2018.06.04
...          ...                 ...           ...           ...
6290     ND.0012  Before 19-Jul-1913       ND.0012       ND.0012
6296     ND.0006         Before 1906       ND.0006       ND.0006
6297     ND.0005         Before 1903       ND.0005       ND.0005
6299     ND.0003           1900-1905       ND.0003       ND.0003
6301     ND.0001           1845-1853       ND.0001       ND.0001

[5334 rows x 4 columns]

In [244]:
cleaned_dataset=cleaned_dataset.drop(columns=['Case Number.1','Case Number.2'], axis=1)

So with "Case Number" it was pretty easy to compare by sight, but it is more difficult to compare URLs by sight, so we will do it by checking with boolean logic.

In [245]:
(cleaned_dataset['href formula']==cleaned_dataset['href']).value_counts()

True     5282
False      52
dtype: int64

It seems that both columns are the same but some mistakes had been made. Nonetheless, we cannot drop a column arbitrary, so lets check the values that are not equal.

In [246]:
pprint(cleaned_dataset[['href','href formula']].loc[cleaned_dataset['href']!=cleaned_dataset['href formula']].head())

                                                  href  \
50   http://sharkattackfile.net/spreadsheets/pdf_di...
96   http://sharkattackfile.net/spreadsheets/pdf_di...
131  http://sharkattackfile.net/spreadsheets/pdf_di...
133  http://sharkattackfile.net/spreadsheets/pdf_di...
141  http://sharkattackfile.net/spreadsheets/pdf_di...

                                          href formula
50   http://sharkattackfile.net/spreadsheets/pdf_di...
96   http://sharkattackfile.net/spreadsheets/pdf_di...
131  http://sharkattackfile.net/spreadsheets/pdf_di...
133  http://sharkattackfile.net/spreadsheets/pdf_di...
141  http://sharkattackfile.net/spreadsheets/pdf_di...

When comparing the columns that have different values, we find that none of the URLs are operative anymore. The same is true for the columns that have equal values. This column can be dropped without losing any practical information.

In [247]:
cleaned_dataset=cleaned_dataset.drop(columns=['href','href formula'])

Now we are finished (at least by the moment) with deleting rows and columns we are going to reset the dataframe indexes in sake of clarity

In [248]:
cleaned_dataset=cleaned_dataset.reset_index()

# Consistency of the data

So now we are going to check whether each column has usefull and well formated information or no. This only can be done in a column by column basis, since no general criteria can be applied. Also, we will check if the datatype is the appropiate for this kind of data.

In [249]:
cleaned_dataset.columns

Index(['index', 'Case Number', 'Date', 'Year', 'Type', 'Country', 'Area',
       'Location', 'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)',
       'Time', 'Species ', 'Investigator or Source', 'pdf', 'original order'],
      dtype='object')

In [250]:
cleaned_dataset['Date'].value_counts()

1957           10
1950            6
12-Apr-2001     5
1958            5
05-Oct-2003     5
               ..
12-Mar-1961     1
22-Oct-1988     1
Mar-1973        1
26-Sep-1994     1
14-Aug-2002     1
Name: Date, Length: 4652, dtype: int64

Date column doesn't seem to have well formatted data. There is some uncompleted information about dates, but it still can be usefull in the future. Let's check next columns.

Year column is a more simple column and looks better than date column. However, when we check the minimun of the dataset, we have 0 values. Since we can hardly believe that we have data from year 0, let's try to complete this column with information from "Date" column

In [251]:
cleaned_dataset['Year'].value_counts()

2015.0    139
2017.0    127
2011.0    124
2016.0    123
2014.0    116
         ...
1703.0      1
1859.0      1
1779.0      1
1748.0      1
1816.0      1
Name: Year, Length: 201, dtype: int64

In [252]:
cleaned_dataset['Date'].loc[cleaned_dataset['Year']==0]

5253         Ca. 336.B.C..
5254          Ca. 725 B.C.
5255          1990 or 1991
5256           Before 2016
5257       Before Oct-2009
               ...
5329    Before 19-Jul-1913
5330           Before 1906
5331           Before 1903
5332             1900-1905
5333             1845-1853
Name: Date, Length: 81, dtype: object

We see that there is some related information in the column Date when Year is 0, but something comes to the eye. All the data that has 0 in year are acumulated at the end of the dataset(You can see this by looking to the indexes). Seems that those data are added at posteriori and has no consistency with the dataset. We will make further comprobations

In [253]:
print(f'There are {cleaned_dataset["Year"].loc[cleaned_dataset["Year"]!=0].size} values with a value different from 0 grouped in {cleaned_dataset["Year"].loc[cleaned_dataset["Year"]!=0].value_counts().size} categories (which is a very reasonable number for a period of time)')

There are 5253 values with a value different from 0 grouped in 200 categories (which is a very reasonable number for a period of time)

In [254]:
print(f'There are {cleaned_dataset["Year"].loc[cleaned_dataset["Year"]==0].size} values with a value equal to 0 from a total sample size of {cleaned_dataset["Year"].size}')

There are 81 values with a value equal to 0 from a total sample size of 5334

It's clear that those data are not realiable and we can drop it.

In [255]:
cleaned_dataset=cleaned_dataset[cleaned_dataset.Year!=0]

Also Year data need to be casted to integer values

In [256]:
cleaned_dataset['Year']=cleaned_dataset['Year'].astype(int)