In [1]:
import pandas as pd
import numpy as np
from pprint import pprint
import re

In [2]:
original_dataset=pd.read_csv('attacks.csv', encoding='latin-1')

At first sight we can see a 23 columns dataset. Some of them are dates, some of them are categorical data and links to files than can be useful if important information is missed.

In [3]:
original_dataset

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,AdysonÂ McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25718,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25719,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25720,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25721,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25722,xx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

We create a copy of the original dataset for security

In [4]:
cleaned_dataset=original_dataset.copy()

# Looking for NaN values

First of all we are going to check the two last columns that appears to be only NaN values

In [5]:
print(f'Since the original data set has {cleaned_dataset["Unnamed: 22"].size} rows and the column Unnamed:22 \
has {sum(cleaned_dataset["Unnamed: 22"].isna())}  NaN values we can safely drop it.')

Since the original data set has 25723 rows and the column Unnamed:22 has 25722  NaN values we can safely drop it.

In [6]:
print(f'Since the original data set has {cleaned_dataset["Unnamed: 23"].size} rows and the column Unnamed:23 \
has {sum(cleaned_dataset["Unnamed: 23"].isna())}  NaN values we can safely drop it.')

Since the original data set has 25723 rows and the column Unnamed:23 has 25721  NaN values we can safely drop it.

In [7]:
cleaned_dataset=cleaned_dataset.drop(columns=["Unnamed: 23","Unnamed: 22"], axis=1)

In the cell bellow we can see that we are not almost near to detect all the missing values. Comparing the number of NaN to the number of data, it seems that there are lots of rows that are empty. Let's check that by creating a new column that shows how many NaN values has each row,

In [8]:
cleaned_dataset.isna().sum()

Case Number               17021
Date                      19421
Year                      19423
Type                      19425
Country                   19471
Area                      19876
Location                  19961
Activity                  19965
Name                      19631
Sex                       19986
Age                       22252
Injury                    19449
Fatal (Y/N)               19960
Time                      22775
Species                   22259
Investigator or Source    19438
pdf                       19421
href formula              19422
href                      19421
Case Number.1             19421
Case Number.2             19421
original order            19414
dtype: int64

In [9]:
cleaned_dataset["Is_all_NaN"]=cleaned_dataset.isna().sum(axis=1)

cleaned_dataset["Is_all_NaN"].value_counts()

22    17020
21     2394
1      1516
0      1422
2      1200
3      1196
4       540
5       293
6       102
7        26
8         7
20        7
Name: Is_all_NaN, dtype: int64

So we can see that there are a great number of columns that have no information or almost no information (columns with 22 or 21). We proceed to remove them. Afther, we will drop the generated "Is_all_NaN"

In [10]:
cleaned_dataset=cleaned_dataset.dropna(axis=0, how='any', thresh=20, subset=None, inplace=False)

In [11]:
cleaned_dataset=cleaned_dataset.drop(columns="Is_all_NaN")

There are still some NaN values, but we will with that later

In [12]:
cleaned_dataset.isna().sum()

Case Number                  0
Date                         0
Year                         0
Type                         1
Country                      2
Area                       103
Location                   144
Activity                   153
Name                        24
Sex                        217
Age                       1929
Injury                       2
Fatal (Y/N)                362
Time                      2422
Species                   2139
Investigator or Source       5
pdf                          0
href formula                 1
href                         0
Case Number.1                0
Case Number.2                0
original order               0
dtype: int64

# Duplicated values

Now we are looking for rows that have duplicated values

In [13]:
for i in cleaned_dataset['Age']:

0

So there are not rows with duplicated values. Now we look for columns with duplicated values.

In [14]:
cleaned_dataset[['Case Number','Date','Case Number.1','Case Number.2']]

     Case Number                Date Case Number.1 Case Number.2
0     2018.06.25         25-Jun-2018    2018.06.25    2018.06.25
1     2018.06.18         18-Jun-2018    2018.06.18    2018.06.18
2     2018.06.09         09-Jun-2018    2018.06.09    2018.06.09
3     2018.06.08         08-Jun-2018    2018.06.08    2018.06.08
4     2018.06.04         04-Jun-2018    2018.06.04    2018.06.04
...          ...                 ...           ...           ...
6290     ND.0012  Before 19-Jul-1913       ND.0012       ND.0012
6296     ND.0006         Before 1906       ND.0006       ND.0006
6297     ND.0005         Before 1903       ND.0005       ND.0005
6299     ND.0003           1900-1905       ND.0003       ND.0003
6301     ND.0001           1845-1853       ND.0001       ND.0001

[5334 rows x 4 columns]

In [15]:
cleaned_dataset=cleaned_dataset.drop(columns=['Case Number.1','Case Number.2'], axis=1)

So with "Case Number" it was pretty easy to compare by sight, but it is more difficult to compare URLs by sight, so we will do it by checking with boolean logic.

In [16]:
(cleaned_dataset['href formula']==cleaned_dataset['href']).value_counts()

True     5282
False      52
dtype: int64

It seems that both columns are the same but some mistakes had been made. Nonetheless, we cannot drop a column arbitrarily, so lets check the values that are not equal.

In [17]:
pprint(cleaned_dataset[['href','href formula']].loc[cleaned_dataset['href']!=cleaned_dataset['href formula']].head())

                                                  href  \
50   http://sharkattackfile.net/spreadsheets/pdf_di...
96   http://sharkattackfile.net/spreadsheets/pdf_di...
131  http://sharkattackfile.net/spreadsheets/pdf_di...
133  http://sharkattackfile.net/spreadsheets/pdf_di...
141  http://sharkattackfile.net/spreadsheets/pdf_di...

                                          href formula
50   http://sharkattackfile.net/spreadsheets/pdf_di...
96   http://sharkattackfile.net/spreadsheets/pdf_di...
131  http://sharkattackfile.net/spreadsheets/pdf_di...
133  http://sharkattackfile.net/spreadsheets/pdf_di...
141  http://sharkattackfile.net/spreadsheets/pdf_di...

When comparing the columns that have different values, we find that none of the URLs are operative anymore. The same is true for the columns that have equal values. This column can be dropped without losing any practical information.

In [18]:
cleaned_dataset=cleaned_dataset.drop(columns=['href','href formula'])

'pdf' is a column listing reports files to which we do not hace access, so there is not usefull information for us there. On the other hand 'original order' is a column of integer numbers (formated as floats) that it is just de order in which the data were stored.

In [19]:
cleaned_dataset=cleaned_dataset.drop(columns=['pdf','original order'])

Now we search for duplicated rows

In [20]:
cleaned_dataset=cleaned_dataset.drop_duplicates()

Now we are finished (at least by the moment) with deleting rows and columns we are going to reset the dataframe indexes in sake of clarity

In [21]:
cleaned_dataset=cleaned_dataset.reset_index(drop=True)

# Consistency of the data

So now we are going to check whether each column has usefull and well formated information or no. This only can be done in a column by column basis, since no general criteria can be applied. Also, we will check if the datatype is the appropiate for this kind of data.

In [22]:
cleaned_dataset.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source'],
      dtype='object')

In [23]:
cleaned_dataset['Date'].value_counts()

1957                    10
1950                     6
05-Oct-2003              5
Aug-1956                 5
28-Jul-1995              5
                        ..
15-Jun-2010              1
Reported 28-Feb-2011     1
Reported 05-Jun-1935     1
07-Dec-2007              1
01-Aug-1958              1
Name: Date, Length: 4652, dtype: int64

Date column doesn't seem to have well formatted data. There is some uncompleted information about dates, but it still can be usefull in the future. Let's check next columns.

Year column is a more simple column and looks better than date column. However, when we check the minimun of the dataset, we have 0 values. Since we can hardly believe that we have data from year 0, let's try to complete this column with information from "Date" column

In [24]:
cleaned_dataset['Year'].value_counts()

2015.0    139
2017.0    127
2011.0    124
2016.0    123
2014.0    116
         ...
1703.0      1
1859.0      1
1779.0      1
1748.0      1
1816.0      1
Name: Year, Length: 201, dtype: int64

In [25]:
cleaned_dataset['Date'].loc[cleaned_dataset['Year']==0]

5253         Ca. 336.B.C..
5254          Ca. 725 B.C.
5255          1990 or 1991
5256           Before 2016
5257       Before Oct-2009
               ...
5329    Before 19-Jul-1913
5330           Before 1906
5331           Before 1903
5332             1900-1905
5333             1845-1853
Name: Date, Length: 81, dtype: object

We see that there is some related information in the column Date when Year is 0, but something comes to the eye. All the data that has 0 in year are acumulated at the end of the dataset(You can see this by looking to the indexes). Seems that those data are added at posteriori and has no consistency with the dataset. We will make further comprobations

There are 5253 values with a value different from 0 grouped in 200 categories (which is a very reasonable number for a period of time) but there are 81 values with a value equal to 0 from a total sample size of 5334

It's clear that those data are not realiable and we can drop it.

In [28]:
cleaned_dataset=cleaned_dataset[cleaned_dataset.Year!=0]

Also Year data need to be casted to integer values

In [29]:
cleaned_dataset['Year']=cleaned_dataset['Year'].astype(int)

In the column 'Type' we can see that values are razonably well categorized except little exceptions that can be easily fixed

In [30]:
cleaned_dataset['Type'].value_counts()

Unprovoked      4001
Provoked         515
Invalid          376
Boating          148
Sea Disaster     107
Boat             102
Questionable       2
Boatomg            1
Name: Type, dtype: int64

In [31]:
cleaned_dataset['Type']=cleaned_dataset['Type'].replace('Boat','Boating')
cleaned_dataset['Type']=cleaned_dataset['Type'].replace('Boatomg','Boating')

In [32]:
cleaned_dataset['Type'].value_counts()

Unprovoked      4001
Provoked         515
Invalid          376
Boating          251
Sea Disaster     107
Questionable       2
Name: Type, dtype: int64

'Name' column doesn't seem to have many usefull information. Its five more frequent value are not names, but gender or age, qhich are stored in other columns. Also, particular names are not important for statistical questions we are trying to answer.

In [33]:
cleaned_dataset['Name'].value_counts()

male                    423
female                   82
boy                      13
2 males                  10
child                     6
                       ...
Derek Garth Prinsloo      1
John Cole                 1
SÃ©bastien Ãmond           1
Earl Dunnam               1
Heather Orr               1
Name: Name, Length: 4612, dtype: int64

In [34]:
cleaned_dataset=cleaned_dataset.drop(columns='Name')

Sex column is pretty well categorized but some data can be rescued

In [35]:
cleaned_dataset['Sex '].value_counts()

M      4454
F       578
M         2
.         1
lli       1
N         1
Name: Sex , dtype: int64

In [36]:
cleaned_dataset['Sex ']=cleaned_dataset['Sex '].replace('N','F')
cleaned_dataset['Sex ']=cleaned_dataset['Sex '].replace('M ','M')

In [37]:
cleaned_dataset.loc[cleaned_dataset['Sex ']=='lli']

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source
1543,2004.11.11.b,11-Nov-2004,2004,Unprovoked,USA,California,"Bunkers, Humboldt Bay, Eureka, Humboldt County",Surfing,lli,38,"Lacerations to hand, knee & thigh",N,13h30,5.5 m [18'] white shark,"R. Collier, GSAF"

In [38]:
cleaned_dataset.loc[cleaned_dataset['Sex ']=='.']

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source
4778,1908.06.02.R,Reported 02-Jun-1908,1908,Sea Disaster,PAPUA NEW GUINEA,New Britain,Matupi,.,.,NaN,"Remains of 3 humans recovered from shark, but ...",Y,NaN,Allegedly a 33-foot shark,"Taranaki Herald, 6/2/1908"

In [39]:
cleaned_dataset['Sex ']=cleaned_dataset['Sex '].replace('lli','M')
cleaned_dataset=cleaned_dataset[cleaned_dataset['Sex ']!='.']

'Age' column have vales that can be fixed

In [40]:
patter=re.compile(r'\d{2}')

for i in cleaned_dataset['Age']:
    print(i)

57
11
48
nan
nan
nan
18
52
15
12
32
10
10
21
34
nan
nan
nan
30
nan
nan
60
nan
32
33
29
54
34
41
37
nan
56
12
19
25
10
69
18
38
55
34
35
nan
46
45
14
18
40s
nan
28
20
nan
54
35
24
25
26
49
25
14
25
22
7
31
nan
nan
17
60
15
nan
nan
54
40
31
nan
nan
33
nan
nan
13
28
25
nan
18
nan
35
nan
42
nan
nan
17
37
3
11
nan
69
nan
13
20
34
nan
15
10
12
nan
37
nan
nan
40
8
40
50
nan
nan
nan
46
32
13
nan
16
nan
14
34
82
nan
48
nan
19
30
nan
32
20
nan
73
41
29
33
18
nan
14
33
28
20s
40
nan
17
28
17
nan
68
35
10
21
16
51
39
17
58
30
nan
25
58
nan
nan
26
26
22
nan
nan
nan
37
21
Teen
55
57
nan
48
47
20
16
nan
55
61
40s
19
20
65
73
58
41
42
36
36
nan
66
25
29
21
32
17
16
36
43
43
nan
nan
60s
51
50
12
nan
9
22
25
37
20
49
15
21
22
40
72
nan
43
18
29
36
nan
31
nan
9
11
61
nan
nan
10
nan
59
nan
42
34
35
11
59
43
42
nan
nan
19
6
19
27
64
60
23
nan
nan
29
52
13
57
22
11
48
23
59
39
24
15
nan
12
22
26
26
69
34
46
22
Teen
41
nan
19
45
12
nan
41
21
31
nan
65
nan
45
40
41
nan
15
nan
nan
48
nan
11
31
nan
38
71
43
32
58
nan
26
22
55
nan
nan
28
20
9
54
28
19
50
10
42
21
21
35
32
44
nan
9
25
nan
18
22
13
14
22
7
nan
14
27
12
16
nan
nan
20
42
50
29
62
nan
37
54
21
nan
38
15
10
22
10
57
52
47
25
35
46
31
40
45
34
38
39
23
32
52
32
68
nan
12
18
19
nan
23
43
19
47
6
37
9
36
10
16
12
nan
13
11
17
47
14
19
19
13
18
30
50
nan
nan
29
65
63
26
71
48
13
nan
70
43
23
36
52
58
9
nan
36
18 months
22
41
35
nan
57
20
nan
24
nan
nan
nan
17
38
34
15
12
nan
17
nan
50
40s
17
nan
13
39
nan
44
53
nan
18
34
20
nan
nan
nan
nan
13
7
nan
nan
29
40
15
nan
nan
28
23
nan
36
nan
50
43
20s
52
16
13
17
33
30s
29
nan
nan
nan
31
nan
26
10
7
10
45
50s
8
20
Teen
51
8
nan
61
39
63
nan
14
nan
nan
19
48
42
nan
15
nan
43
16
39
43
14
22
nan
37
29
nan
10
38
35
44
12
nan
40
23
nan
42
25
nan
teen
teen
63
38
66
nan
9
42
42
10
nan
21
21
21
28
28
nan
24
31
nan
37
19
35
29
30
26
57
19
58
35
25
nan
77
16
nan
46
60
24
nan
41
45
25
6
74
55
45
12
50
27
7
45
nan
21
13
43
25
17
3
9
nan
47
50
11
nan
16
nan
20
19
10
17
56
32
40
nan
18
64
50
18
50
teen
15
63
48
29
20
nan
nan
14
28
15
nan
nan
10
58
nan
32
11
41
30
29
42
36
16
nan
34
51
9
nan
21
53
50
24
58
47
34
50
30
nan
68
28
28 & 26
39
46
nan
nan
16
48
18
nan
nan
62
43
nan
26
nan
23
29
20
32
60
31
25
61
20
32
14
30
43
25
51
39
35
24
55
nan
38
42
11
21
22
52
29
19
25
nan
30s
37
32
8
nan
56
53
34
18
31
nan
56
39
nan
17
48
44
50
12
22
24
23
24
43
42
52
29
6
26
16
nan
12
62
16
6
23
18
nan
nan
16
42
57
30
12
25
33
46
22
nan
20
30
47
15
28
20
27
28
nan
33
21
nan
20
61
15
17
nan
34
31
19
42
nan
nan
nan
nan
29
nan
26
nan
24
44
25
53
28
34
nan
nan
23
27
nan
35
51
nan
14
nan
63
18
10
nan
nan
35
42
27
26
32
41
50
nan
nan
64
51
nan
29
27
48
43
21
5
nan
38
17
25
37
30
nan
21
19
19
48
39
nan
21
10
49
16
20s
12
25
32
27
30
7
54
36
14
nan
29
6
nan
nan
54
12
14
16
17
28
21
22
10
nan
20
35
15
31
nan
28
24
28
19
nan
22
33
nan
nan
28
86
15
37
nan
43
37
32
17
49
41
nan
27
nan
nan
48
46
30
24
nan
36
21
32
49
nan
58
nan
37
38
25
55
7
16
37
nan
16
nan
46
70
nan
54
46
70
48
47
nan
33
21
nan
nan
20
nan
nan
30
14
19
nan
22
nan
nan
Teen
29
18
29
15
27
24
nan
24
24
43
10
31
45
nan
16
47
25
35
nan
nan
37
16
20
10
13
55
9
nan
nan
21
20
19
48
20
6
13
17
18
40
20
49
58
60
nan
59
10
29
68
35
24
34
nan
nan
19
60
46
nan
18
nan
31
38
14
29
nan
54
nan
37
9
nan
nan
32
nan
20
55
27
nan
18
22
nan
24
39
nan
58
49
10
31
22
27
18
25
21
27
nan
17
nan
54
10
23
23
nan
39
nan
34
60
15
nan
nan
25
22
nan
26
nan
56
14
14
41
nan
14
11
26
19
57
nan
37
12
43
52
26
14
nan
nan
50
46
nan
31
49
55
27
48
nan
20
23
52
31
49
40
24
nan
15
59
16
17
nan
nan
17
nan
61
21
19
40
nan
15
nan
nan
33
31
nan
41
nan
49
15
nan
19
25
17
nan
nan
24
13
31
nan
22
49
nan
nan
nan
10
29
51
nan
nan
15
nan
nan
nan
nan
nan
45
39
34
24
50
15
11
43
44
40
43
32
40
nan
51
43
15
52
nan
29
27
52
19
26
20
20
47
7
38
13
nan
31
nan
33
nan
17
44
9
8
15
16
nan
52
24
14
17
16
53
42
46
nan
29
37
nan
40
35
14
40
nan
15
14
9
nan
49
21
28
37
40
6
24
18
24
32
21
66
14
nan
32
19
30
15
16
18
39
52
nan
13
14
8
27
49
26
25
14
nan
42
20
nan
nan
20
nan
26
24
53
31
teen
34
52
nan
28
32
nan
14
21
42
37
nan
32
52
31
22
16
nan
nan
23
48
nan
18 or 20
nan
nan
23
nan
56
Teen
14
58
36
15
12
58
15
24
54
27
nan
nan
52
16
7
20
15
19
30
9
19
51
20
nan
nan
36
15
14
48
43
30
48
18
17
nan
nan
20
nan
9
nan
nan
nan
40
38
38
19
21
nan
45
63
68
20
13
12
24
nan
26
7
27
9
nan
11
42
nan
59
29
16
26
nan
30
nan
41
20
24
nan
54
24
25
10
43
25
15
nan
29
nan
22
15
20
nan
18
26
36
19
nan
16
55
52
44
33
12 or 13
37
23
nan
27
17
34
34
nan
24
59
nan
nan
41
nan
15
19
14
nan
49
7
21
nan
40
11
14
13
28
35
9
nan
25
22
27
43
24
7
40
26
nan
31
15
33
30s
nan
20s
46
54
13
35
15
15
35
11
nan
28
17
21
15
15
45
18
nan
nan
15
24
57
46 & 34
34
28, 23 & 30
nan
52
nan
21
21
49
30
29
nan
44
nan
teen
23
nan
18
26
nan
30s
17
32
18
25
26
15
55
20
36
20
15
22
57
48
35
52
28
26
44
nan
68
18
15
18
40
62
21
23
37
17
8
12
16
14
nan
13
61
25
24
22
14
19
16
14
7
nan
49
20
38
11
17
22
6
33
nan
32
nan
nan
Teens
47
25
20
40
70
52
37
nan
nan
32
nan
26
45
51
nan
18
nan
nan
nan
12
19
nan
nan
39
11
18
38
20
16
77
38
30s
nan
40
52
59
nan
34
34
15
16
40
nan
26
nan
17
38
24
nan
50
47
30
nan
20
nan
28
13
19
11
nan
51
30
Teen
7
45
nan
nan
17
8
21
16
17
44
9
9
9
24
63
28
22
nan
nan
nan
nan
57
16
22
26
20
22
nan
20
61
nan
nan
51
47
29
15
nan
31
22
46
21
nan
nan
40
nan
nan
22
nan
nan
nan
28
13
45
36
nan
nan
21
35
35
24
nan
nan
nan
nan
18
22
13
46
56
19
nan
nan
18
30
50
41
40
16
21
19
17
30
36 & 26
8 or 10
18
15
19
nan
nan
50
31
16
37
18
15
58
10
21
39
nan
nan
nan
17
15
12
60
51
33
15
22
18
22
20
34
9
nan
16
17
7
36
17
30
23
18
11
12
20
28
nan
50
nan
44
37
54
24
84
14
nan
nan
18
25
26
11
23
19
nan
48
34
41
21
16
52
60
36
21
14
35
18
47
32
55
Â

24
35
19
47
20
36
16
29
27
15
15
30
14
13
15
19
41
22
9
30
11
nan
28
50
10
50
24
16
55
35
nan
14
31
40
20
23
52
34
28
45
43
41
29
17
11
16
20
39
31
44
30 or 36
15
35
20
32
16
26
35
36
49
nan
nan
20
26
31
21
14
42
6Â½
16
nan
44
13
nan
28
23
20
10
44
29
69
18
18
17
27
32
17
17
20
19
19
43
21 & ?
36
nan
nan
nan
48
18
42
8
35
14
52
75
29
16
11
nan
24
26
33 or 37
45
14
16
12
mid-30s
38
21
12
22
19
22
nan
16
46
nan
26
12
40
nan
nan
12
20
nan
nan
40
35
55
nan
nan
nan
23
47
nan
30
38
nan
28
47
73
27
52
49
27
31
23
56
69
17
23
11
24
nan
17
25
12
31
49
26
25
8
48
28
40
27
47
69
nan
nan
53
27
44
nan
23 & 20
5
45
16
14
15
18
nan
69
13
41
5
12
20
55
13
19
nan
52
nan
17
55
44
13
nan
nan
9
nan
34
nan
nan
26
14
37
35
nan
nan
27
nan
39
27
nan
nan
12
26
35
nan
15
13
12
18
nan
39
35
19
51
nan
35
39
12
12
45
13
nan
16
22
nan
37
61
10
13
7
39
28
nan
23
17
10
62
35
42
43
43
14
30
29
20
21
41
5
22
21
41
52
14
nan
nan
29
nan
28
18
29
nan
35
25
47
nan
37
30
19
21
18
14
21
9
14
13
32
52
22
17
30
nan
17
28
6
18
nan
28
25
26
16
nan
28
11
nan
19
24
nan
13
47
16
10
26
20
18
nan
17
15
16
40
14
24
22
35
50
16
nan
40
33
32
nan
31
nan
nan
21
nan
23
28
nan
39
nan
29
8
42
32
21
51
19
23
12
nan
14
20
12
17
20
18
22
29
28
33
12
17
16
17
nan
10
nan
17
19
19
25
nan
50
55
nan
47
18
33
35
34
12
54
nan
22
21
 30
49
27
41
nan
nan
18
nan
nan
45
26
nan
nan
22
21
31
14
23
19
5
28
28
29
19
36
21
8
52
nan
46
9
18
63
24
24
nan
nan
17
45
22
33
27
11
16
nan
47
7
24
32
14
7
33
13
53
nan
25
nan
22
13
17
15
39
14
17
25
19
19
25
29
32
9
19
44
nan
16
18
16
23
19
18
20
15
20
14
12
nan
nan
nan
nan
18
18
12
7
47
18
14
34
32
nan
31
nan
13
nan
45
10
38
45
29
44
15
69
44
12
20
nan
47
nan
35
nan
22
14
17
nan
nan
26
nan
nan
nan
44
42
nan
nan
34
nan
nan
9
16
30
43
7      &    31
12
15
nan
24
22
31
nan
15
30
24
 28
35
36
26
22
25
20?
71
nan
19
nan
33
25
nan
23
nan
15
nan
nan
44
nan
23
33
nan
30
27
nan
nan
26
26
34
21
36
15
17
19
16
69
51
13
nan
nan
19
nan
39
nan
nan
28
12
nan
16
61
42
22
31
34
42
60's
nan
32
nan
25
35
55
nan
nan
69
15
21
32 & 30
29
nan
30
10
30
31
19
24
46
30
40
17
18
40
28
nan
nan
28
nan
20
18
nan
nan
34
17
nan
22
26
nan
nan
42
nan
nan
nan
16
21
nan
45
nan
nan
nan
35
36
17
41
nan
21
nan
nan
19
nan
19
19
36
nan
25
41
nan
nan
nan
14
21
32
32
19
36
23
10
nan
40
39
42
22
30
32
13
nan
18
31
65
23
nan
nan
nan
22
nan
18
38
20
35
nan
22
26
nan
24
50
18
26
nan
25
43
19
26
49
44
30
22
nan
18
53
17
21
38
nan
30s
30s
22
23
31
37
nan
29
nan
30
nan
nan
33
nan
nan
17
27
32
29
nan
10
31
17
nan
12
49
nan
29
51
nan
38
31
46
30
21
21
17
31
41
34
nan
16
9
nan
45
nan
16
28
19
nan
nan
nan
nan
27
nan
nan
26
47
24
24
10
19
nan
17
nan
nan
nan
17
62
21
38
15
30
23
15
23
21
nan
38
nan
16
27
28
35
15
37
36
42
37
12
25
31
29
nan
nan
24
nan
14
nan
30
nan
17
nan
20
15
nan
22
22
nan
33
nan
12
16
16 to 18
15
20
14
21
47
24
12
40
27
32
16
nan
35
nan
12
nan
34
nan
16
nan
8
18
nan
30
37
nan
nan
nan
21
40
37
27
22
17
26
23
nan
6
32
28
18
16
35
nan
nan
8
26
nan
nan
nan
nan
26
23
21
nan
46
29
29
22
16
nan
nan
nan
nan
24
22
46
33
24
nan
nan
21
nan
17
87
11
67
13
15
nan
10
13
nan
39
25
33
29
16
15
18
nan
34
nan
20
nan
16
13
29
22
23
77
15
25
nan
17
Elderly
16
nan
28
nan
31
13
18
21
30
nan
27
13
20s
28
nan
nan
nan
33
27
14
14
nan
nan
36
17
48
16
47
nan
15
nan
16
20
15
nan
29
14
14
22
21
24
28
nan
39
13
17
42
15
21
30
nan
nan
21
15
22
27
16
17
nan
nan
16
43
22
32
nan
nan
nan
26
16
16
20
36
28
mid-20s
17
18
nan
20
38
26
17
43
19
27
20
19
8
nan
Ca. 33
16
20
32
18
nan
nan
nan
75
nan
29
20
nan
nan
24
nan
nan
nan
59
19
nan
17
24
28
nan
26
25
24
15
19
nan
nan
19
53
16
32
nan
nan
nan
nan
27
27
32
nan
19
nan
24
19
24
nan
30
nan
15
25
23
27
25
22
nan
nan
16
29
19
10
nan
nan
15
22
nan
nan
44
22
nan
13
52
nan
61
24
29
29
nan
25
nan
34
20
20s
18
19
32
20
nan
nan
18
21
49
56
36
25
nan
nan
24
8
27
nan
nan
19
nan

23
nan
17
nan
27
nan
34
nan
27
39
27
20
17
25
23
nan
nan
nan
17
nan
nan
49
27
18
nan
nan
25
17
25
nan
20
17
21
27
25
nan
nan
31
32
74
45
24
nan
29
19
19
17
nan
nan
25
20
27
16
nan
15
23
19
24
10
18
23
17
nan
46
nan
nan
21 or 26
nan
nan
nan
nan
25
nan
nan
nan
27
35
20
33
18
nan
20
21
19
20
44
24
62
37
24
21
23
34
14
29
16
18
15
27
20
17
10
37
nan
nan
14
18
nan
16
12
45
12
17
25
24
17
29
20
41
48
30
24
22
19
18
21
nan
36
17
10
61
45
22
19
11
17
21
nan
14
19
nan
nan
42
26
33
nan
32
nan
41
20
19
nan
20s
13
nan
11
20
37
nan
16
17
45
28
26
57
nan
nan
nan
nan
13
29
25
17
nan
24
19
nan
17
17
nan
20
15
nan
45
22
32
27
25
19
nan
18
20
30
24
nan
16
20
20
18
25
30
17
34
51
26
8
nan
21
32
16
>50
19
16
nan
15
18
18 to 22
nan
41
nan
nan
43
20
18
20
nan
nan
13
25
16
18
14
nan
19
14
16
12
10
nan
22
nan
15
nan
nan
nan
nan
28
25
35
35
15
nan
27
nan
53
nan
28
15
13
13
nan
22
27
8
nan
23
nan
adult
65
16
49
52
21
nan
nan
27
17
nan
28
22
16
nan
24
9 & 12
15
12
41
18
25
33
33
nan
43
17
17
17
63
10
21
7
47
35
20
28
17
14
nan
26
13
nan
22
32
59
15
18
21
19
nan
21
nan
23
24
19
nan
23
19
? & 19
15
41
nan
20
36
18
26
nan
30
22
60
21
32
36
21
14
nan
nan
nan
31
15
30
29
19
39
29
9 months
13
8
32
20
nan
nan
43
14
nan
nan
18
13
9
33
nan
21
26
8
16
34
14
20
25
46
15
18
18
nan
40
nan
38
24
25
nan
nan
13
33
29
30
16
43
15
15
35
15
40
nan
nan
43
44
nan
24
32
nan
15
27
nan
nan
23
15
nan
25
6
nan
38
nan
nan
nan
nan
35
49
19
28
8
17
nan
16
25
18
21
22
20
nan
30
13
Teen
nan
nan
25 to 35
19
nan
28
10
25
29
25
nan
nan
nan
19
32
20
14
19
18
nan
28
12
21
22
30
52
nan
nan
29
nan
nan
23
40
47
35
13
nan
19
32
38
nan
17
nan
26
25
nan
19
23
nan
12
nan
39
17
nan
nan
21
nan
20
nan
nan
20
24
nan
18
13
nan
nan
15
23
22
20
18
21
25
28
nan
nan
nan
35
28
nan
25
30
18
16
23 & 26
26
14
24
nan
42
30
nan
nan
25
15
25
15
nan
nan
nan
18
28
nan
32
25
nan
14
nan
27
24
nan
nan
16
nan
26
24
nan
nan
30
32
26
nan
43
1
24
20
29
28
nan
49
39
nan
40
24
(adult)
nan
23
21
20
19
41
13
nan
nan
11
31
32
35
nan
13
nan
55
31
17
nan
16
13
nan
nan
nan
10
nan
15
nan
22
13
35
nan
18
19
40
nan
44
29
nan
19
nan
24
54
nan
25
nan
57
nan
nan
18
24
18
23
nan
20
22
17
nan
45
nan
45
16
19
42
22
nan
33 & 37
16
19
22
38
nan
57
16
nan
21
10
23
25
nan
nan
19
20
nan
52
nan
10
nan
37
nan
22
21
40
38
24
nan
24
24
nan
21
33
44
nan
30
nan
27
14
nan
nan
15
27
13
nan
nan
25 or 28
nan
20
nan
27
25
33
nan
41
51
17
24
nan
nan
nan
36
nan
24
26
nan
nan
37
nan
nan
nan
25
nan
38
14
24
15
25
46
nan
25
17
41
nan
nan
nan
18
39
37, 67, 35, 27,  ? & 27
58
24
27
25
16
16
48
nan
nan
21, 34,24 & 35
17
nan
nan
nan
nan
nan
nan
nan
42
44
30 & 32
22
36
nan
26
nan
20
nan
nan
13
nan
nan
nan
nan
9
nan
nan
nan
16
20
5
nan
nan
50 & 30
13
29
nan
17 & 35
nan
nan
3
19
17
19
nan
nan
nan
21
nan
nan
X
30
nan
36
28
30
nan
nan
nan
"middle-age"
14
10
21
26
nan
nan
32
nan
13 or 18
15
nan
34 & 19
nan
25
22
21
nan
nan
27
13
nan
nan
33
23
37
18
19
22
43
nan
nan
13
20
nan
nan
nan
nan
15
14
20
57
16
22
17
18
nan
33 & 26
nan
nan
nan
nan
14
15
22
21
nan
nan
nan
15
60
nan
26
32
42
20
nan
nan
nan
12
8
35
21
nan
31
20
38
36
59
17
nan
nan
nan
29
29
28
29
nan
21
18
17
14
50
nan
nan
nan
nan
nan
nan
nan
nan
nan
14
20
23
15
16
22
28
nan
nan
nan
57
36
28
nan
25
15
17
22
17
15
nan
nan
nan
12
nan
nan
nan
18
nan
30
nan
nan
nan
nan
19
16
nan
70
29
nan
19
27
nan
nan
nan
34
nan
13
nan
10
23
nan
nan
nan
nan
nan
13
38
40
38
7
nan
23
nan
13
26
21
15
8
18
33
25
nan
15
nan
14
8
nan
28
nan
nan
nan
16
nan
25
32
28
nan
15
nan
22
13
nan
nan
28
nan
nan
nan
nan
22
nan
25
nan
19
25
25
nan
13
nan
nan
16
nan
12
27
23
nan
16
nan
nan
62
13
35
20
35
27
nan
nan
34
28
nan
nan
22
35
30
nan
nan
nan
23
nan
30
18
26
nan
nan
12
nan
nan
nan
23
16
nan
23
nan
nan
15
nan
19
18
15
nan
26
nan
nan
19
nan
19
nan
nan
23
nan
nan
nan
25
61
MAKE LINE GREEN
nan
nan
nan
25
17
nan
17
40
nan
18
19
nan
 43
34
nan
34
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
27
nan
15
18
nan
21
23
81
24
42
21
nan
56
18
16
nan
13
40
nan
39
16
23
"young"
19
31
20
14
19
19
nan
20
17
21
18
31
25
27
nan
nan
19
30
11
21
16
25
27
nan
50
nan
nan
20
nan
nan
14
nan
nan
nan
nan
nan
nan
7 or 8
nan
nan
nan
nan
nan
nan
35
36
nan
21
34
17
18
21
18
18
16
16
22
26
nan
13
nan
20
32
nan
nan
18
nan
nan
17
28
19
14
nan
nan
41
17
nan
nan
nan
60
15
41
46
38
nan
30
nan
16
nan
48
nan
nan
9
nan
nan
17
16
12
13
78
nan
25
20
46
nan
20
nan
35
nan
nan
21
14
17
29
18
22
nan
17 & 16
18
23
30
15
15
30
12
12
14
nan
17
nan
28
21
18
18
15
nan
12
18
14
24
nan
13
nan
nan
nan
37
nan
8 or 10
15
19
nan
18
13
19
17
15
nan
18
23
16
nan
12
22
nan
14
26
17
nan
nan
nan
20
nan
nan
68
18
26
F
nan
31
22
nan
nan
15
nan
38
nan
18
25
24
nan
20
nan
nan
18
28
nan
nan
nan
nan
48
nan
10
23
nan
nan
nan
nan
20
nan
nan
43
nan
53
34
nan
19
nan
nan
6
nan
23
17
nan
nan
18
nan
nan
nan
25
nan
17
nan
55
17
13
22
18
nan
nan
40
20
27
nan
nan
33
38
nan
nan
9
nan
nan
nan
Both 11
nan
nan
nan
nan
19
18
nan
nan
nan
27
25
nan
9 or 10
nan
nan
nan
13
24
nan
50
nan
17
nan
nan
17
25
18
16
nan
nan
nan
nan
nan
38
21
nan
nan
14
nan
33
16
43
32
nan
nan
20
nan
18
nan
nan
15
50
nan
nan
nan
nan
nan
13
16
nan
nan
16
16
nan
nan
nan
nan
young
nan
14
13
17
nan
nan
nan
20
38
nan
38
nan
nan
23
53
14
22
31
nan
nan
nan
40
nan
nan
nan
38
nan
27
22
20
nan
nan
5
13
19
14
12
38
nan
nan
nan
nan
nan
18
11
nan
nan
8
34
nan
12
15
17
nan
nan
nan
nan
15
22
nan
17
nan
nan
nan
nan
nan
50
15
nan
nan
nan
nan
nan
24
nan
nan
nan
38
nan
24
27
nan
nan
18
17
nan
32
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
36 & 23
23
45
Teen
nan
20
nan
18
23
nan
nan
nan
nan
nan
nan
nan
nan
nan
19
nan
39
18
nan
49
nan
nan
nan
17
38
nan
29
21
nan
17
nan
19
18
nan
23
nan
16
nan
17
nan
50s
nan
nan
nan
42
nan
nan
nan
nan
nan
19
nan
26
nan
9
12
20
nan
39

nan
14
nan
nan
nan
nan
27
nan
nan
17
nan
nan
nan
nan
19
nan
15
28
nan
78
nan
18
25
17
nan
nan
nan
nan
17
nan
nan
70
nan
nan
15
10
nan
nan
nan
nan
17
18
20
nan
15
nan
nan
26
nan
nan
nan
nan
nan
55
nan
nan
nan
16
16
A.M.
nan
nan
nan
nan
35
35
nan
nan
nan
nan
?    &   14
nan
20
21
nan
nan
nan
30
nan
22
nan
16
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
25
13
nan
nan
nan
nan
nan
19
16
nan
nan
nan
nan
18
19
18
nan
14
21
nan
18
54
nan
26
20
8
40
nan
22
nan
21
nan
nan
nan
30
nan
13
nan
20
18
nan
12
nan
12
29
47
nan
nan
nan
nan
nan
nan
nan
nan
13
38
nan
nan
nan
22
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
25
41
nan
nan
27
nan
nan
nan
nan
nan
12
24
10
nan
nan
nan
24
10 or 12
nan
17
nan
nan
10
nan
nan
nan
nan
nan
17
nan
nan
nan
17
nan
nan
nan
nan
43
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
12
nan
nan
nan
nan
nan
nan
12
nan
nan
nan
nan
18
nan
21
7
nan
nan
nan
nan
23
nan
nan
nan
nan
nan
64
nan
nan
nan
22
nan
50
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
16
nan
nan
nan
19
nan
16
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
55
18
20
nan
nan
nan
nan
nan
nan
nan
nan
nan
17
18
nan
31 or 33
30
nan
nan
nan
nan
21
16
nan
nan
nan
26

40
23
39
nan
nan
nan
nan
nan
nan
30
nan
16
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
30
17
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
16
10
nan
Teen
29
20
nan
nan
nan
nan
30
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
15
9
19
13
nan
nan
nan
nan
13
nan
nan
nan
nan
nan
nan
nan
24
22
nan
nan
nan
15
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
26
nan
nan
35
nan
11
15
14
nan
nan
nan
nan
26
nan
nan
nan
nan
28
nan
nan
13
14
nan
19
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
21
nan
nan
nan
nan
nan
nan
18
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
11
nan
nan
nan
nan
nan
nan
nan
nan
nan
33
nan
nan
nan
nan
nan
13
nan
nan
18
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
21
nan
nan
nan
nan
nan
37
nan
nan
nan
nan
nan
nan
nan
nan
18
nan
nan
23
nan
12
nan
nan
20
60
nan
11
nan
13
23
nan
nan
19
nan
nan
nan
22
nan
nan
14
nan
11
11
nan
nan
nan
nan
nan
15
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
3
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
27
nan
nan
nan
nan
30
nan
nan
40
40
13
39
40
17
nan
nan
35
nan
nan
nan
nan
nan
nan
nan
17
nan
nan
nan
nan
nan
13
nan
nan
nan
nan
nan
nan
18
nan
nan
nan
nan
26
17
28
nan
18
18
nan
nan
nan
nan
nan
nan
nan
nan
nan
21
nan
nan
22
nan
nan
17
nan
nan
2Â½
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
15
nan
nan
nan
19
nan
nan
nan
nan
nan
nan
nan
15
7 or 8
nan
nan
nan
nan
nan
nan
29
nan
nan
12
nan
nan
nan
nan
nan
nan
nan
52
nan
nan
nan
17
nan
nan
nan
nan
nan
nan
22
nan
nan
nan
nan
nan
young
14
nan
nan
nan
19
nan
nan
nan

In [42]:
cleaned_dataset['Fatal (Y/N)'].value_counts()

N          3843
Y          1017
UNKNOWN      22
 N            7
2017          1
M             1
Name: Fatal (Y/N), dtype: int64

In [43]:
cleaned_dataset['Fatal (Y/N)']=cleaned_dataset['Fatal (Y/N)'].replace(' N','N')

In [44]:
cleaned_dataset['Fatal (Y/N)']=cleaned_dataset['Fatal (Y/N)'].replace('M','N')

In [45]:
cleaned_dataset.loc[cleaned_dataset['Fatal (Y/N)']=='2017']

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source
743,2012.06.10,10-Jun-2012,2012,Provoked,ITALY,Sardinia,Muravera,Attempting to rescue an injured & beached shark,M,57,Lower left leg injured PROVOKED ACCIDENT,2017,Morning,"Blue shark, 2.5m","D. Puddo, 6/11/2012"

In [46]:
cleaned_dataset['Fatal (Y/N)']=cleaned_dataset['Fatal (Y/N)'].replace('2017','N')

In [73]:
import re
prueba1="hola 22 35 46 asereje"

print(len(re.findall(r"\d{2}", "22 35 46 asereje")))

3

In [60]:
print(x)

None